h1 {
  color: #c678dd;
  font-family: monospace;
}

body {
  background: #282c34;
}

h3 {
  color: #98c379;
  font-family: monospace;
}

.textName {
  grid-area: header1;
}

.setData {
  grid-area: header2;
}

.allData {
  grid-area: header3;
}

.textCode {
  grid-area: main;
  height: 100px;
}

.textSearch {
  grid-area: footer1;
}

.getData {
  grid-area: footer2;
}

.HUD {
  display: grid;
  grid-template-columns: 15% 5% 5% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header1 header2 header3"
    "main main main"
    "footer1 footer2 footer2";
}
